body {
  color: #5D5F63;
  background: #fafaf8;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Ebrima , sans-serif;
  font-weight: bold;
  height: 100%;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    position: relative;
    top: 60px;
    border-width:0px;
    z-index: 9999;
    background-color: #fd6925c9;
    font-family: Ebrima , sans-serif;
    font-size: 15px;
}

.leaflet-popup-content {
    text-align: center;
    margin: 5px 10px;
    line-height: 1.4;
    background-color: #fc8e5bc9;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #fd6925c9;
    color: #333;
}



#info_button {
    background-color: #00689D;
    color: rgb(255, 255, 255);
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
}

 #info-close{
    background-color: #ffffff;
    color: #00689D;
    cursor: pointer;
    font-size: 50px;
    font-weight: bolder;
    border: none;
}


#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fd6925c9;
    display: flex;
    align-items: center;
    padding: 0 20px; /* left and right breathing room */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
/* Text styling */
#top-bar .top-bar-text {
    font-size: 32px; 
    color: rgb(255, 255, 255); 
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.viewbutton {
    background-color: #00689D;
    color: white;
    border: none;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.viewbutton.active {
    font-weight: bold;
    border: 6px solid #19486A;
}

.view {
    position: absolute;
    top: 0; /* behind top-bar */
    left: 0;
    width: 100%;
    bottom: 0; /* take all remaining space */
    overflow: auto;
    display: none;
    flex-direction: row; /* adjust if needed */
}

.view.active {
    display: flex;
}



#title {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    /* text color */

}

#view_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 60px;
    /* remove margin-left completely */
}

#map_container {
    flex: 1;                  /* take remaining space next to sidebar */
    position: relative;       /* for labels and slider */
}

#sidebar
, #sidebar2 {
    position: fixed;
    top: 60px;
    bottom: 10px;
    right: 5px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    width: clamp(60px, 1vw, 100px); /* collapsed width */
    background-color: #19486ab9;
    padding: clamp(8px, 1vw, 20px);
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
    overflow-y: auto;
    border-radius: 10px
}

#sidebar.open
, #sidebar2.open {
    width: clamp(200px, 20vw, 350px);
    padding: clamp(10px, 2vw, 25px);
}

#sidebar aside,
#sidebar2 aside {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#sidebar.open aside,
#sidebar2.open aside {
  opacity: 1;
  pointer-events: all;
}

/* Make map the same width as the top bar */
#map {
    position:relative;
    width: 100%;
    height: 100%;
}

.sidebar {
  background: #19486a;
  width: clamp(200px, 25vw, 450px);
  font-size: clamp(0.8rem, 1.2vw, 1.rem);
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  gap: 10px;
  border-radius:5px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
  margin-top: 2em;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.384);
}

.sidebar ul,
.sidebar ul ul {
    margin: -2px 0 0;
    padding: 0;
    border: 2px;
}

.sidebar ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255,255,255,.05);
}

.sidebar ul li.active > a {
    color: #4C9F38;
}

.sidebar  ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 0.3em 0 0.6em 0.4em;
    font-size: 2em;
    cursor: pointer;
    transition: all 200ms ease-in;
    border-color:black;
}

.sidebar  ul li a:hover {
    color:  #56C02B;
}

.sidebar  ul ul {
    display: none;
}

.sidebar  ul ul li {
    background: #00699d;
    font-size: 1em;
    margin:3px;

}

.sidebar  ul ul li a {
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    color: #ffffff;
}

.sidebar  ul ul ul li a {
    font-size: 1em;
    padding: 0.7em 0.5em;
    color: #ffffff;
}

.sidebar-img1.open{
  position: absolute; /* or fixed if you want it viewport-relative */
  opacity: 1;
  bottom: 10px;
  left: 25px; /* optional, or adjust as needed */
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 10px;
  max-width: 39%;
  padding: 5px;
  height:35px;
}

.sidebar-img2.open{
  position: absolute; /* or fixed if you want it viewport-relative */
  opacity: 1;
  bottom: 10px;
  right: 25px; /* optional, or adjust as needed */
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 10px;
  max-width: 39%;
  padding: 5px;
  height:35px;
}

.sidebar-img1 {
  opacity: 0;
}

.sidebar-img2 {
  opacity: 0;
}


.slider-container,
.projection_note,
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control
{
    transition: right 0.1s ease; /* smooth movement */
}

#dynamic-populated-menu li ul li a.selected {
    background-color: #fd6925c9;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
}

#dynamic-populated-menu-catalogue-view li ul li a.selected {
    background-color: #fd6925c9;
    color: #ffffff;
    font-weight: bold;
}

#time-component {
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;

}

/* Make the h3 less squished */
#time-component h3 {
  margin: 8px 0;
  padding: 8px 6px;
  font-size: 1.75em;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Make icon align to the right of the thing its in */
.metadata-icon {
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 20px;
}


.metadata-box {
  position: fixed; /* fixed to viewport */
  top: 250px;
  width: 400px;
  max-width: 90%;
  background:  #19486A;
  color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto; 
  overflow-x: hidden;
}

.metadata-box.hidden {
  display: none;
}

#metadata-close {
  position: absolute;
  top: 5px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

.metadata-row {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 0.25rem;
  margin-bottom: 0.35rem;
  align-items: start;
}

.metadata-key {
  font-weight: 600;     /* bold */
  text-align: left;
}

.metadata-value {
  font-weight: 400;     /* normal */
  text-align: left;
  word-break: break-word;
}
#showOnMapBtn{
  background-color: #fd6925c9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius:10px;
  margin:10px;
}

#showOnMapBtn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.year-select {
  width: 50%;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
  text-align: center;
}

.year-select option {
  background-color:  #19486A;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.year-select:hover {
  border-color: #999;
  cursor: pointer;
}

.year-select:focus {
  outline: none;
  border-color: #0078d7;
  box-shadow: 0 0 3px rgba(0, 120, 215, 0.4);
}

/* Make themap label be on top of the map, on the bottom center */
#map-label {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: #19486aa6;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  z-index: 1000;
  font-weight: 300;
}

/* Put it on the bottom of the page on the left side */
#projection_note {
  position: absolute;
  bottom: 30px;
  right: 10px;
  background: #19486aa6;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
  z-index: 1000;
  font-weight: 300;
  /* max width */
  max-width: 220px;
}


/* Slider container */
/* position it relative to the map container */
.slider-container {
    position: absolute;
    top: 160px;  
    right: calc(5px + clamp(60px, 1vw, 100px) + 12px);
    z-index: 1000;
    background-color:#fd6925c9;
    border: 0px;
    border-radius: 5px;
    padding: 6px 10px 6px 6px;
    width: 200px;
    color:#000000;
    background-clip: border-box;
    font-family: Ebrima, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
}

#opacity-slider {
    width: 180px;
}

.toggle_container {
  display: inline-block;
  cursor: pointer;
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 1001;
}

.toggle_bar1, .toggle_bar2, .toggle_bar3 {
  width: 20px;
  height: 5px;
  background-color: #26BDE2;
  margin: 6px 0;
  transition: 0.4s;
}

.change .toggle_bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .toggle_bar2 {opacity: 0;}

.change .toggle_bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* ################ CATALOGUE VIEW ######################## */
/* #CatalogueView {
  display: grid;
  grid-template-columns: 320px 1fr 120px; 
  min-height: 100vh;
} */
 

#catalogue {
  background-color: #fafaf8;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 10px;
  width: 100% ;
  margin-right: clamp(200px, 20vw, 350px);
} 

#catalogue-panel {
  /* Appear in a grid of three rectangles across */
  display: grid;
  /* Make the template columns be repreated 3, each column with 18% of the total window width */
  grid-template-columns: repeat(3, 320px);
  gap: 40px;
  margin-top: 80px;
  justify-content: center;
}

.catalogue-item {
  border: 1px solid #ccc;
  padding: 12px 12px;
  margin-bottom: 10px;
  border-radius: 16px;
  background-color: #fafaf8;
  
}

.catalogue-item-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #004b8d;
  text-decoration: underline;
  /* buffer left */
  padding-left: 5%;
  display: block;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  white-space: normal;
}

.catalogue-item-thumbnail {
    width: 90%;
    height: 260px; 
    margin: 0 auto;
    display: block;
    object-fit: contain;
    /* Padding above */
    
    /* padding around */
    /* display: block; */
}



/* Info Box */
#infoBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Width, just fit contents */
  width: 80vw;
  max-width: 800px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  padding: 15px;
  font-size: 1.5em;
  font-weight: normal;
}

#infoBox.hidden {
  display: none;
}

/* Container-level adjustments */
#infoBox {
    font-family: system-ui, sans-serif;
    color: #222;
    line-height: 1.45;
    font-size: 0.9rem;        /* smaller, panel-friendly */
    padding: 0;               /* panel likely has built-in padding */
}

/* Ensure scrollability inside the panel content */
#infoBox #info-content {
    max-height: 80vh;         /* adjust as needed */
    overflow-y: auto;
    padding: 0rem 2.9rem;
    
}

/* Titles */
#infoBox .info-title {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    color: #004b8d;
}

#infoBox .info-quote {
    font-style: italic;
}

#infoBox .info-section-title {
    font-size: 1.15rem;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
    color: #004b8d;
}

#infoBox .info-subsection-title {
    font-size: 0.95rem;
    margin-top: 0.9rem;
    margin-bottom: 0.2rem;
    color: #00345f;
}

/* Paragraphs and spacing */
#infoBox p {
    margin-bottom: 0.5rem;
}

#infoBox .info-list li {
    margin-bottom: 0.5rem;
}

#infoBox ul {
    padding-inline-start: 2.0em;
}

/* Quote block */


/* Links */
#infoBox a {
    color: #005fa3;
    text-decoration: none;
}

#infoBox a:hover {
    text-decoration: underline;
}

/* Optional: reduce line height inside lists */
#infoBox li {
    line-height: 1.35;
}

.info-link-button{
  background-color: rgb(230, 238, 255);
  border-width: 0.01rem;
  hover {
    cursor: pointer;
  }

}
